
body{
  margin : 0;
  text-align: center;
  color: #40514E;
  font-family: 'Merriweather Sans', sans-serif;

}
p{
    line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
hr{
  margin: 100px auto;
  width: 4%;

  border: 6px dotted  #bbbfca;
  border-bottom: none;
}
h1{
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Itim', cursive;
    color: #66BFBF;

}
.u{
  text-decoration: underline;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.topcontainer{
  background-color: #E4f9f5;
  padding-top: 100px;
}
.middle-container{
  padding: 100px 0;
  background-color: #E4f9f5;
}
.bottom-container{
 background-color: #66BFBF;
 padding: 50px 0 20px;

}
.top-cloud{
  position: relative;
  left: 400px;
}
.bottom-cloud{
  position: absolute;
  top: 450px;
  left: 250px;
}
#mypic{
  width: 200px;

}
.webdev-img{
 width: 25%;
 float: left;
 margin-right: 30px;

}
.programming-img{
 width: 25%;
 float: right;
 margin-left: 30px;

}
.api-img{
  padding-top: 50px;
  position: absolute;
  right: 170px;
  top: 310px;
  width:15%;
}

.contactme-desc{
  width: 50%;
  margin: 40px auto;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.BUTTON {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
